<div class="navbar bg-base-100">
  <div class="flex-1">
    <a class="btn btn-ghost normal-case text-xl">RMP</a>
  </div>
  
  <div class="flex-none gap-2">
    <div class="form-control">
      <input
        type="text"
        placeholder="Search"
        class="input input-bordered w-24 md:w-auto"
      />
    </div>

    <ul class="menu menu-horizontal px-1">
      <li><a (click)="openLoginModal()">ログイン</a></li>
      <li><a class="bg-primary">サインアップ</a></li>
    </ul>

    <div class="dropdown dropdown-end">
      <label tabindex="0" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <img
            src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg"
          />
        </div>
      </label>
      <ul
        tabindex="0"
        class="mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-base-100 rounded-box w-52"
      >
        <li>
          <a class="justify-between">
            プロフィール
            <span class="badge">New</span>
          </a>
        </li>
        <li><a>設定</a></li>
        <li><a>ログアウト</a></li>
      </ul>
    </div>
  </div>

  <!-- Login Modal -->
  <app-daisy-modal #loginModal>
    <app-login-form></app-login-form>
  </app-daisy-modal>

  <!-- Signup Modal -->

</div>

