<div class="min-h-full">
  <header>
    <h1 class="sr-only">教授ナビ</h1>
  </header>
  <main>
    <app-daisy-navbar></app-daisy-navbar>
    <div class="mx-auto">
      <!-- Your content -->
      <app-daisy-overlay-hero backgroundUrl="https://images.pexels.com/photos/1122865/pexels-photo-1122865.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
          <h1 class="mb-12 text-5xl font-bold">学校で絞り込む</h1>
          <p class="mb-6">サインアップをして学校名を保存すると、次回からこのステップをステップを飛ばすことができます。</p>
          <app-school-search-bar class="mb-12"></app-school-search-bar>
      </app-daisy-overlay-hero>
    </div>
    <app-footer></app-footer>
  </main>
</div>
