<div class="flex justify-center px-1 sm:py-3">
  <div class="flex flex-col gap-y-2 max-w-4xl">
    <div class="flex flex-col sm:flex-row gap-3 sm:gap-10 px-10 py-5">
      <div class="flex flex-col gap-y-2">
        <div class="flex gap-x-2">
          <span class="text-7xl font-black">4.5</span>
          <span class="text-xl text-gray-500 font-semibold pt-1.5">/ 5</span>
        </div>
        <div class="flex items-center gap-x-3">
          <div class="flex justify-center items-center text-3xl font-extrabold">田中太郎</div>
          <button class="btn btn-sm">save</button>
        </div>
        <div class="flex gap-x-2 text-sm text-gray-500">
          <span>
            <a href="" class="link mr-2">慶應義塾大学</a>
            <a href="" class="link">経済学部 経済学科</a>
          </span>
        </div>
        <div class="flex">
          <div class="text-center pr-2">
            <div class="text-4xl font-extrabold">88%</div>
            <div class="text-sm">また受講したい</div>
          </div>
          <div class="text-center">
            <div class="text-4xl font-extrabold">3.2</div>
            <div class="text-sm">難易度</div>
          </div>
          <span class="text-sm text-gray-500 font-semibold p-1">/ 5</span>
        </div>
        <button class="btn btn-primary w-48 my-2">レビューを書く</button>
      </div>
      <div class="flex flex-col w-full gap-y-3 sm:px-5 sm:pt-1">
        <div class="link">
          レビュー件数: 15
        </div>
        <div class="flex items-center">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.182 15.182a4.5 4.5 0 01-6.364 0M21 12a9 9 0 11-18 0 9 9 0 0118 0zM9.75 9.75c0 .414-.168.75-.375.75S9 10.164 9 9.75 9.168 9 9.375 9s.375.336.375.75zm-.375 0h.008v.015h-.008V9.75zm5.625 0c0 .414-.168.75-.375.75s-.375-.336-.375-.75.168-.75.375-.75.375.336.375.75zm-.375 0h.008v.015h-.008V9.75z" />
          </svg>          
          <span class="badge bg-transparent justify-end border-none w-12">5.0</span>
          <progress class="progress progress-accent w-full h-3" value="60" max="100"></progress>
          <span class="badge bg-transparent border-none w-16">60%</span>
        </div>
        <div class="flex items-center">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.182 15.182a4.5 4.5 0 01-6.364 0M21 12a9 9 0 11-18 0 9 9 0 0118 0zM9.75 9.75c0 .414-.168.75-.375.75S9 10.164 9 9.75 9.168 9 9.375 9s.375.336.375.75zm-.375 0h.008v.015h-.008V9.75zm5.625 0c0 .414-.168.75-.375.75s-.375-.336-.375-.75.168-.75.375-.75.375.336.375.75zm-.375 0h.008v.015h-.008V9.75z" />
          </svg>    
          <span class="badge bg-transparent justify-end border-none w-12">4.0</span>
          <progress class="progress progress-accent h-3" value="20" max="100"></progress>
          <span class="badge bg-transparent border-none w-16">20%</span>
        </div>
        <div class="flex items-center">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.182 15.182a4.5 4.5 0 01-6.364 0M21 12a9 9 0 11-18 0 9 9 0 0118 0zM9.75 9.75c0 .414-.168.75-.375.75S9 10.164 9 9.75 9.168 9 9.375 9s.375.336.375.75zm-.375 0h.008v.015h-.008V9.75zm5.625 0c0 .414-.168.75-.375.75s-.375-.336-.375-.75.168-.75.375-.75.375.336.375.75zm-.375 0h.008v.015h-.008V9.75z" />
          </svg>    
          <span class="badge bg-transparent justify-end border-none w-12">3.0</span>
          <progress class="progress progress-accent h-3" value="5" max="100"></progress>
          <span class="badge bg-transparent border-none w-16">5%</span>
        </div>
        <div class="flex items-center">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.182 15.182a4.5 4.5 0 01-6.364 0M21 12a9 9 0 11-18 0 9 9 0 0118 0zM9.75 9.75c0 .414-.168.75-.375.75S9 10.164 9 9.75 9.168 9 9.375 9s.375.336.375.75zm-.375 0h.008v.015h-.008V9.75zm5.625 0c0 .414-.168.75-.375.75s-.375-.336-.375-.75.168-.75.375-.75.375.336.375.75zm-.375 0h.008v.015h-.008V9.75z" />
          </svg>    
          <span class="badge bg-transparent justify-end border-none w-12">2.0</span>
          <progress class="progress progress-accent h-3" value="5" max="100"></progress>
          <span class="badge bg-transparent border-none w-16">5%</span>
        </div>
        <div class="flex items-center">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.182 15.182a4.5 4.5 0 01-6.364 0M21 12a9 9 0 11-18 0 9 9 0 0118 0zM9.75 9.75c0 .414-.168.75-.375.75S9 10.164 9 9.75 9.168 9 9.375 9s.375.336.375.75zm-.375 0h.008v.015h-.008V9.75zm5.625 0c0 .414-.168.75-.375.75s-.375-.336-.375-.75.168-.75.375-.75.375.336.375.75zm-.375 0h.008v.015h-.008V9.75z" />
          </svg>    
          <span class="badge bg-transparent justify-end border-none w-12">1.0</span>
          <progress class="progress progress-accent h-3" value="10" max="100"></progress>
          <span class="badge bg-transparent border-none w-16">10%</span>
        </div>
        <div class="flex flex-wrap gap-3 mt-1 sm:mt-5">
          <div class="badge badge-ghost">ためになる</div>
          <div class="badge badge-ghost">楽単</div>
          <div class="badge badge-ghost">課題が多い</div>
          <div class="badge badge-ghost">つまらない</div>
          <div class="badge badge-ghost">過去問あり</div>
          <div class="badge badge-ghost">話が面白い</div>
          <div class="badge badge-ghost">小テストあり</div>
          <div class="badge badge-ghost">授業が丁寧</div>
        </div>
      </div>
    </div>
    <app-rating-card></app-rating-card>
    <app-rating-card></app-rating-card>
    <app-rating-card></app-rating-card>
  </div>
</div>
